@font-face {
  font-family: 'HeydingsControlsRegular';
  src: url(fonts/font33.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  background-color: rgba(71, 43, 107, 0.445);
}

.player {
  width: 90%;
  max-width: 1050px;
  margin: auto;
  margin-top: 100px;
  position: relative;
}

.play-pause-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
}

.play-pause-circle--anim {
  animation: play-pause-anim .5s;
}

.play-pause-circle-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: 0;
}

.play-pause-circle-btn::after {
  font-family: HeydingsControlsRegular;
  display: block;
  font-size: 26px;
  height: 35px;
  content: attr(data-icon);
  color: #fff;
}

.remove-animation {
  animation: none !important;
}

@keyframes play-pause-anim {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(2);
  }
}



.player video {
  width: 100%;
}

.player__controls {
  /* display: flex; */
  /* opacity: 0; */
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  bottom: 4px;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.116);
  transition: .2s all;
}

.player__controls > div {
  display: flex;
  align-items: center;
  position: relative;
}

.player:hover .player__controls,
.player:focus .player__controls {
  opacity: 1;
}

.player__controls button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.player__controls button:hover {
  background-color: rgba(255, 0, 0, 0.425);
}

.player__controls button:before {
  font-family: HeydingsControlsRegular;
  display: block;
  font-size: 36px;
  height: 50px;
  content: attr(data-icon);
  color: #fff;
}

.sound-div {
  display: inline-block;
  width: 50px;
  transition: .2s;
}

.sound,
.mute-sound {
  display: none;
}

.sound-bar {
  position: absolute;
  top: 45%;
  display: inline-block;
  opacity: 0;
  max-width: 0px;
  height: 5px;
  cursor: pointer;
  transition: .2s;
  outline: none;
}

.video--active,
.video--active {
  display: none;
}

.sound--active {
  display: inline-block;
}

.sound-div--active {
  width: 150px;
}

.sound-div--active .sound-bar {
  opacity: 1;
  max-width: 100px;
}

.video-time {
  display: inline-block;
  color: white;
  margin-left: 10px;
}

.f-b-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
}
.f-b-circle--backward {
  left: 20%;
}
.f-b-circle--forward {
  left: 80%;
}
.forward-backward-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: 0;
}
.forward-backward-btn::after {
  font-family: HeydingsControlsRegular;
  display: block;
  font-size: 26px;
  height: 35px;
  content: attr(data-icon);
  color: #fff;
}